@{
    ViewData["Title"] = "Privacy Policy";
    string[] TableHeaders = new string[] { "Id", "Clinic Name", "Address", "Contact" };
}

<h2>@ViewData["Title"]</h2>

<p>
    This Privacy Policy outlines how our clinic collects, uses, and protects the personal information of our patients and visitors. Please read this policy carefully to understand how we handle your data.
</p>

<h3>Data Collection</h3>
<p>
    We collect the following information when you visit our clinic:
</p>



<h3>Data Usage</h3>
<p>
    The information collected is used for the following purposes:
    <ul>
        <li>To provide medical services and treatments</li>
        <li>To communicate with patients regarding their appointments and healthcare</li>
        <li>To improve the quality of our services</li>
    </ul>
</p>

<h3>Data Protection</h3>
<p>
    We take the privacy and security of your personal information seriously. We have implemented measures to safeguard your data from unauthorized access, use, or disclosure.
</p>

<h3>Third-Party Disclosure</h3>
<p>
    We do not sell, trade, or otherwise transfer your personal information to third parties without your consent, except as required by law or to provide necessary medical services.
</p>

<h3>Changes to the Privacy Policy</h3>
<p>
    We reserve the right to modify or update this Privacy Policy at any time. Any changes will be reflected on this page, and we encourage you to review this policy periodically.
</p>

<p>
    If you have any questions or concerns about our Privacy Policy, please contact us.
</p>
